REACT_APP_EXPLORER_WEB_API_URL=https://explorer-api.pastel.network
REACT_APP_EXPLORER_WEB_API_URL_TESTNET=https://explorer-staging-api.pastel.network
REACT_APP_EXPLORER_WEB_API_URL_DEVNET=https://api-dev.pastel.network.com
REACT_APP_EXPLORER_DEFAULT_API_URL=https://api-dev.pastel.network.com
REACT_APP_EXPLORER_DEFAULT_CURRENCY_NAME=PSL
REACT_APP_EXPLORER_TEST_CURRENCY_NAME=LSP
REACT_APP_EXPLORER_PASTEL_BURN_ADDRESS=tPpasteLBurnAddressXXXXXXXXXXX3wy7u
REACT_APP_EXPLORER_OPENNODE_API_URL=https://opennode-fastapi-testnet.pastel.network
REACT_APP_EXPLORER_HIGHLIGHT_PROJECT_ID=xdnox0e0
