version: 2.1

orbs:
  aws-cli: circleci/aws-cli@0.1.20
  aws-s3: circleci/aws-s3@1.0.11

executors:
  node-browser:
    docker:
      - image: circleci/node:12.2.0-browsers
    working_directory: /tmp/workspace

jobs:
  build:
    resource_class: large
    executor: node-browser
    working_directory: /tmp/workspace
    steps:
      - checkout
      - run: git submodule update --init --recursive
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run: yarn
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run:
          command: echo 'GENERATE_SOURCEMAP=false' >> .env
      - run:
          command: yarn build
      - persist_to_workspace:
          root: /tmp/workspace
          paths:
            - build

  deploy-production:
    executor: node-browser
    working_directory: /tmp
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - aws-cli/setup:
          aws-access-key-id: AWS_ACCESS_KEY_ID
          aws-secret-access-key: AWS_SECRET_ACCESS_KEY
      - aws-s3/sync:
          from: /tmp/workspace/build/
          to: s3://$BUCKET_NAME
          arguments: |
            --acl public-read \
            --cache-control "max-age=86400"
          overwrite: true
      - run: aws cloudfront create-invalidation --distribution-id $CLOUDFRONT_ID --paths /\*

  deploy-staging:
    executor: node-browser
    working_directory: /tmp
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - add_ssh_keys:
          fingerprints:
            - '71:46:6e:71:40:bd:0e:0c:7e:00:4b:14:ec:60:6e:68'
      - run:
          name: Deploy Staging over SSH
          command: scp -o "StrictHostKeyChecking no" -r /tmp/workspace/build/* ubuntu@$STAGING_SERVER_IP:~/pastel-explorer-frontend/build

workflows:
  version: 2
  main:
    jobs:
      - build:
          name: build-pr
          context: explorer-frontend-staging
          filters:
            branches:
              ignore:
                - master
                - production
      - build:
          name: build-production
          context: pastel-frontend-stage
          filters:
            branches:
              only:
                - master
                - production
      - deploy-production:
          name: deploy-production
          requires:
            - build-production
          context: pastel-frontend-stage
          filters:
            branches:
              only:
                - master
                - production
      - deploy-staging:
          name: deploy-staging
          context: explorer-frontend-staging
          requires:
            - build-pr
          filters:
            branches:
              only:
                - staging
